<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>@ViewData["Title"] - MySite </title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
</head>

<body>

<header class="main-header">
    
    <div class="logo">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><em>Gabi</em> Serghi</a>
    </div>

    <a class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav">
        <ul class="main-menu">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="has-submenu">
                <a asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                <ul class="sub-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 1</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 2</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 3</a></li>
                </ul>
            </li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">BugTracker App</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner">
    
    <!-- video ref here -->
    <video autoplay muted loop id="bg-video">
        <source src="~/lib/assets/Unique%20Renders.mp4" type="video/mp4"/>
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h6>My text here</h6>
            <h2><em>BIG</em> MOTTO</h2>
            <div class="main-button">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Browse Portfolio</a></div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Gabi Serghi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>

</html>