<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>@ViewData["Title"] - MySite </title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>


</head>

<body>
<div class="behind"></div>
<header class="main-header">
    <div class="logo">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><em>Gabi</em> Serghi</a>
    </div>

    <nav id="menu" class="main-nav">
        <ul class="main-menu">
            <li><a href="/#Home">Home</a></li>
            <li><a href="/#section2">About</a></li>
            <li><a href="/#section3">Portfolio</a></li>
            <li><a asp-area="" asp-controller="Bugs" asp-action="Index">Bug Tracker</a></li>
            <li><a href="/#section4">Contact</a></li>
        </ul>
    </nav>
</header>

<div>
    <main role="main" class="">
        @RenderBody()
    </main>
</div>

@* <footer class="border-top footer text-muted"> *@
@*     <div> *@
@*         &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*     </div> *@
@* </footer> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(window).scroll(function (){
        if ($(this).scrollTop()){
            $(".main-menu").addClass("black");
            $(".logo").addClass("black");
        }
        else{
            $(".main-menu").removeClass("black");
            $(".logo").removeClass("black")
        }
    })
</script>

@await RenderSectionAsync("Scripts", required: false)

</body>

</html>