<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - WebApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true"/>
    
</head>

<body>

<header class="main-header clearfix">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index"><em>Gabi</em> Serghi</a>
    </div>
    <a class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="has-submenu">
                <a asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                <ul class="sub-menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 1</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 2</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Project 3</a></li>
                </ul>
            </li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">BugTracker App</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Contact</a></li>
        </ul>
    </nav>
</header>

<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div>
          &copy; 2022 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>