@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/homePage.css">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<section class="section main-banner" id="Home" data-section="section1">
    <!-- video ref here -->
    <img src="~/lib/assets/siteimgale3.jpeg" id="bg-video" alt=""/>
    @* <video autoplay muted loop id="bg-video"> *@
    @*     <source src="~/lib/assets/Unique%20Renders.mp4" type="video/mp4" /> *@
    @* </video> *@
    <div class="caption">
        <h2>“If I have seen <em>further,</em> it is by standing on the shoulders of <em>giants.”</em></h2>
        <h6>- Isaac <em>Newton</em></h6>
        <div class="main-button">
            <a asp-area="" asp-controller="Home" asp-action="Index">About Me</a>
        </div>
    </div>

</section>
<section class="section2" id="About">
    <div class="section2-div">
        <img alt="banner" src="~/lib/assets/banner2.jpg"/>
        <div class="container-s2">
            <div class="text-dark">WORK IN PROGRESS... :)</div>
            <div class="text-dark">SECTION NOT READY YET</div>
            <div class="text-dark">INNOVATION IN THE WORKS</div>
        </div>
    </div>
</section>
<section class="section3" id="Portfolio">
    <div class="section3-div">
        <img alt="banner" src="~/lib/assets/banner2.jpg"/>
        <div class="container-s3">
            <div class="text-dark">WORK IN PROGRESS... :)</div>
            <div class="text-dark">SECTION NOT READY YET</div>
            <div class="text-dark">IN THE MEANTIME CHECK BUG TRACKER SECTION </div>
        </div>
    </div>
</section>
<section class="section4" id="Contact">
    <div class="section4-div">
        <img alt="banner" src="~/lib/assets/banner2.jpg"/>
        <div class="container-s4">
            <div class="text-dark">WORK IN PROGRESS... :)</div>
            <div class="text-dark">SECTION NOT READY YET</div>
            <div class="text-dark">FIND ME AT gabi_tlc@yahoo.com OR ON DISCORD AT Lost#2112</div>
        </div>
    </div>
</section>


