@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homePage.css">

<section class="section main-banner" id="top" data-section="section1">
      <!-- video ref here -->
      <video autoplay muted loop id="bg-video">
          <source src="~/lib/assets/Unique%20Renders.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h2>“If I have seen <em>further,</em> it is by standing on the shoulders of <em>giants.”</em></h2>
              <h6>- Isaac <em>Newton</em></h6>
              <div class="main-button">
                  <a asp-area="" asp-controller="Home" asp-action="Index">About Me</a></div>
          </div>
      </div>
</section>

