@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/indexstyle.css">

<section class="section main-banner" id="top" data-section="section1">
      <!-- video ref here -->
      <video autoplay muted loop id="bg-video">
          <source src="~/lib/assets/Unique%20Renders.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>My text here</h6>
              <h2><em>BIG</em> MOTTO</h2>
              <div class="main-button">
                  <a asp-area="" asp-controller="Home" asp-action="Index">Browse Portfolio</a></div>
          </div>
      </div>
</section>
