@model WebApp.Models.Bug

<link rel="stylesheet" href="~/css/bugPage.css" asp-append-version="true"/>


@{
    ViewData["Title"] = "Add Bug";
}
<br/>
<br/>
<br/>
<br/>
<h2 class="text-info text-dark">@(Model.Id!=0 ? "Edit" : "Add") Bug</h2>
@if (Model.Id != 0)
        {
            <h4 class="text-info text-dark">Changes will only be aplied upon hiting the "Confirm Edit" Button></h4>
        }

<div class="pt-2 pl-0">
    <form method="post" asp-controller="Bugs" asp-action="AddBug">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id"/>
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        
        <div class="gridBtn">
            
            <div class="summary form-group ml-2">
                <div class="col-3">
                    <label asp-for="Summary"></label> @*add style*@
                </div>
                <div class="col-10">
                    <input asp-for="Summary" class="form-control"
                           placeholder="A short description of the bug.."/>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
            </div>
            
            <div class="Buttons">
                <div class="pb-2">
                    <button type="submit" class="btn btn-success form-control" formmethod="post">
                        @(Model.Id != 0 ? "Confirm" : "Create")
                    </button>
                </div>
                
                <div>
                    <a asp-action="Index" class="btn btn-danger form-control">Back</a>
                </div>
            </div>
            
        </div>
        
        <div class="grid ml-2">
            
            <div class="Text-Areas">
                <div class="form-group">
                    <div class="col-3">
                        <label asp-for="Description"></label> @*add style*@
                    </div>
                    <div class="col-12">
                        <textarea rows="4" cols="40" type="text" asp-for="Description" class="form-control"
                                        placeholder="Bug description helps the developer to understand the bug.
It describes the problem encountered.
Specify the version on which the bug occurs...
                                        "
                        ></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3">
                        <label asp-for="StepsToRepo"></label> @*add style*@
                    </div>
                    <div class="col-12">
                        <textarea rows="5" cols="40" asp-for="StepsToRepo" class="form-control"
                            placeholder="1.First Step
2.Second step
...
Rezult:"
></textarea>
                        <span asp-validation-for="StepsToRepo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-3">
                        <label asp-for="ExpectedResult"></label> @*add style*@
                    </div>
                    <div class="col-12">
                        <textarea rows="2" cols="40" asp-for="ExpectedResult" class="form-control"
placeholder="It is good practice to outline what the outcome of the test is and what the user should expect..."
></textarea>
                        <span asp-validation-for="ExpectedResult" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="Selectors">
                @* TYPE *@
                <div class="form-group">
                    <div>
                        <label asp-for="Type"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select asp-for="Type" class="form-control sel">
                            <option value="">Select Type...</option>
                            <option value="Game System">Game System</option>
                            <option value="Game Design">Game Design</option>
                            <option value="Level Design">Level Design</option>
                            <option value="Character Design">Character Design</option>
                            <option value="Graphics">Graphics</option>
                            <option value="Texture/Visual">Texture/Visual</option>
                            <option value="UI/UX">UI/UX</option>
                            <option value="Animation">Animation</option>
                            <option value="Sound">Sound</option>
                            <option value="Networking">Networking</option>
                            <option value="Misc">Misc</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Type" class="text-danger "></span>
                </div>
                @* PRIORITY      *@
                <div class="form-group">
                    <div>
                        <label asp-for="Priority"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select asp-for="Priority" class="form-control sel">
                            <option value="">Select Priority...</option>
                            <option value="Very High">Very High</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                            <option value="Very Low">Very Low</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Priority" class="text-danger "></span>
                </div>
                @* SEVERITY                          *@
                <div class="form-group">
                    <div>
                        <label asp-for="Severity"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select  asp-for="Severity" class="form-control sel">
                            <option value="">Select Severity...</option>
                            <option value="Blocker">Blocker</option>
                            <option value="Critical">Critical</option>
                            <option value="Major">Major</option>
                            <option value="Minor">Minor</option>
                            <option value="Trivial">Trivial</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Severity" class="text-danger "></span>
                </div>
                @* REPRORATE *@
                <div class="form-group">
                    <div>
                        <label asp-for="ReproRate"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select  asp-for="ReproRate" class="form-control sel">
                            <option value="">Select Repro-Rate...</option>
                            <option value="100%">100%</option>
                            <option value="80%">80%</option>
                            <option value="60%">60%</option>
                            <option value="40%">40%</option>
                            <option value="20%">20%</option>
                            <option value="1%">1%</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="ReproRate" class="text-danger "></span>
                </div>
                @* PLATFORM      *@
                <div class="form-group">
                    <div>
                        <label asp-for="Platform"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select asp-for="Platform" class="form-control sel">
                            <option value="">Select Platform...</option>
                            <option value="All">All</option>
                            <option value="PC">PC</option>
                            <option value="XB">XB</option>
                            <option value="PS">PS</option>
                            <option value="NTD">NTD</option>
                            <option value="iOS">iOS</option>
                            <option value="AnDr">AnDr</option>
                            <option value="WGL">WGL</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Platform" class="text-danger "></span>
                </div>
                @* STATUS *@
                <div class="form-group">
                    <div>
                        <label asp-for="Status"></label> @*add style*@
                    </div>
                    <div class="select">
                        <select  asp-for="Status" class="form-control sel">
                            <option value="">Select Status...</option>
                            <option value="Open">Open</option>
                            <option value="Fixed">Fixed</option>
                            <option value="Reopen">Reopen</option>
                            <option value="Regress">Regress</option>
                            <option value="Duplicate">Duplicate</option>
                            <option value="Not A Bug">Not A Bug</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Status" class="text-danger "></span>
                </div>
                @* CLOSED *@
                <div class="form-group">
                    <div>
                        <label asp-for="Closed"></label> @*add style*@
                        </div>
                    <div class="select">
                        <select  asp-for="Closed" class="form-control sel">
                            <option value="false">False</option>
                            <option value="true">True</option>
                        </select>
                        <span class="focus"></span>
                    </div>
                    <span asp-validation-for="Closed" class="text-danger "></span>
                </div>
            </div>
            
            <div class="right-space">
            </div>
            
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}

