@{
    ViewData["Title"] = "Bugs";
}
<link rel="stylesheet" href="~/css/tableStyle.css" asp-append-version="true"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"/>

<br/>
<br/>
<br/>
<br/>
<div class="offset-2 d-flex justify-content-between">
    <div class="col-6">
        <h2 class="text-black">Bug List</h2>
    </div>
    <div class="col-2">
        <a asp-action="AddBug" asp-controller="Bugs" class="btn btn-info form-control text-white">
            Add Bug
        </a>
    </div>
</div>
<div id="table-div" class="offset-2 p-3">
    <table id="example" class="display hover order-column stripe" style="width:100%">
        <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Summary</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Severity</th>
            <th>Platform</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/table.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.jqueryui.min.js"></script>
}
