@using System.Collections.Specialized
@{
    ViewData["Title"] = "Bugs";
}
<link rel="stylesheet" href="~/css/tableStyle.css" asp-append-version="true"/>

<br></br>
<br></br>
<div class="offset-2 d-flex justify-content-between">
    <div class="col-6">
        <h2 class="text-black">Bugs List</h2>
    </div>
    <div class="col-2">
        <a asp-action="" asp-controller="" class="btn btn-info form-control text-white">Add Bug</a>
    </div>
</div>
<div id="table-div" class="offset-2 p-3">
<table id="example" class="hover order-column stripe" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Platform</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Summary</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Severity</th>
                <th>Platform</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011-04-25</td>
            <td>$320,800</td>
        </tr>
        </tbody>
</table>
</div>
@section Scripts
{
    <script src="~/js/table.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
}
