body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
a {
    color: #3CF;
    text-decoration: none;
}

a:hover {
    color: #FC3;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-size: 13px;
    line-height: 22px;
}
/* Header */

@media screen and (max-width: 1050px) {
    .main-header .logo {
        padding-left: 30px!important;
    }

    .main-menu {
        padding-right: 30px!important;
    }

    .main-menu li {
        margin-left: 5px!important;
    }
}

.main-header {
    background-color: rgba(22,34,57,0.95);
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-header .logo {
    float: left;
    line-height: 80px;
    padding-left: 60px;
}

.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
}
.main-header .logo a em {
    font-style: normal;
    color: #f5a425;
}

.main-menu {
    float: right;
    padding-right: 60px;
}

.main-menu li {
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.main-menu li.has-submenu a:after {
    /*content: '\f107';*/
    /*font-family: "FontAwesome";*/
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 128px;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 10px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px;
    letter-spacing: 1px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color: #ffcc33;
    border: none;
}
.main-nav li:hover a,
.main-nav li.active a {
    border: 2px solid #f5a425;
}

/* Remove all paddings around the image on small screen*/

.mfp-img-mobile .mfp-image-holder {
  padding-left: 0;
  padding-right: 0;
}

.mfp-img-mobile img.mfp-img {
  padding: 0;
}

.mfp-img-mobile .mfp-figure:after {
  top: 0;
  bottom: 0;
}

.mfp-img-mobile .mfp-figure small {
  display: inline;
  margin-left: 5px;
}

.mfp-img-mobile .mfp-bottom-bar {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  margin: 0;
  top: auto;
  padding: 3px 5px;
  position: fixed;
  box-sizing: border-box;
}

.mfp-img-mobile .mfp-bottom-bar:empty {
  padding: 0;
}

.mfp-img-mobile .mfp-counter {
  right: 5px;
  top: 3px;
}

.mfp-img-mobile .mfp-close {
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  text-align: center;
  padding: 0;
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}